@model ImageCRUD.Models.Category
@{
    ViewData["Title"] = "Delete";
}

<h3>Delete Category</h3>
<form asp-action="Delete" class="p-3">
    <input asp-for="id" hidden />
    <div class="row form-group">
        <div class="col-4">
            <label asp-for="category_name">Name</label>
        </div>
        <div class="col-8">
            <input asp-for="category_name" class="form-control" disabled />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-4">
            <label asp-for="DisplayOrder">Display Order</label>
        </div>
        <div class="col-8">
            <input asp-for="DisplayOrder" class="form-control" disabled />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col offset-8">
            <input class="btn btn-danger form-control" type="submit" value="Delete" />
        </div>

    </div>


</form>