@model ImageCRUD.Models.Category
@{
    ViewData["Title"] = "Edit";
}

<h3>Edit Category</h3>
<form asp-action="Edit" class="p-3">
    <input asp-for="id" hidden/>
    <div class="row form-group">
        <div class="col-4">
            <label asp-for="category_name">Name</label>
        </div>
        <div class="col-8">
            <input asp-for="category_name" class="form-control" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-4">
            <label asp-for="DisplayOrder">Display Order</label>
        </div>
        <div class="col-8">
            <input asp-for="DisplayOrder" class="form-control" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col offset-8">
            <input class="btn btn-primary" type="submit" value="Edit" />
        </div>

    </div>


</form>