@model IEnumerable< ImageCRUD.Models.Category>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3 border">
    <div class="row">
        <div class="col-6">
            <h3>Category List</h3>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary btn-sm" asp-action="Create">Create Category</a>
        </div>
    </div>

    @if (Model.Count() > 0)
    {
        <table class=" table table-bordered table-striped">
            <tr>
                <th>Category Name</th>
                <th>Display Order</th>
            </tr>
            @foreach (var obj in Model)
            {
                <tr>
                    <td class="w-40">@obj.category_name</td>
                    <td class="w-40">@obj.DisplayOrder</td>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@obj.id">Edit</a>
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@obj.id">Delete</a>
                    </td>
                </tr>


            }

        </table>
    }
    else
    {
        <br /><br /><br />
        <h5>No data found</h5>
    }
</div>

